.modalback {
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  z-index: 9999;
  position: absolute;
  transform: translate(0%, 80%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 35%;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  margin-bottom: 25vh;
}

.modal>p {
  margin-inline: 35px;
}

.modal>form {
  margin-top: 30px;
  /* border: 2px solid lightgray; */
  border-radius: 10px;
  overflow: hidden;
  height: 35px;
}

.modal input {
  outline: none;
  border: none;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  height: 100%;
}

.btn {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(27, 162, 27);
  border: 0;
  width: 70px;
}

.btn:hover {
  background-color: rgb(61, 141, 61);
  cursor: pointer;
}

.redpass {
  color: red;
  font-size: small;
}

.graypass {
  color: rgb(182, 182, 182);
}

.App {
  text-align: center;
}

.shake {
  animation: shake 300ms linear;
}

@keyframes shake {
  0% {
    transform: translateX(-30px);
  }

  25% {
    transform: translateX(30px);
  }

  50% {
    transform: translateX(-15px);
  }

  75% {
    transform: translateX(15px);
  }

  87.5% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

#formid {
  position: relative;
}

.eyecon {
  position: absolute;
  top: 15%;
  left: 65%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.eyecon:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

#gitpass {
  padding-right: 40px;
}

@media (max-width: 1012px) {
  .modalback {
    height: 200vh;
  }

  .modal {
    margin-top: 105vh;
    height: 30vh;
    width: 80vw;
  }
}

@media (max-width: 756px) {
  .homeApp {
    display: none;
  }

  .para {
    padding: 10px;
  }
}

@media (min-width: 756px) {
  .para {
    display: none;
  }

  .termapp {
    display: none;
  }
}